<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite verbose="1" name="Homework tests" parallel="methods">
	<test name="Router GUI tests">
		<classes>
			<class name="com.solvd.laba.carina.demo.NetworkConfigurationToolTest" />
		</classes>
	</test>

	<test name="Ecommerce tests">
		<classes>
			<class name="com.solvd.laba.carina.demo.JacketsPageTest"/>
		</classes>
	</test>

</suite>